<div id="main container" fxFlex="100">
    <section class="wrapper style1">
        <div class="inner">
            <h2>Tjenester og priser</h2>
            <h4>Bilder på papir</h4>
            <p>Bestilling av bilder på papir foregår via e-post. Send en
                <a href="mailto:fg-salg@samfundet.no">e-post</a> til
                <a href="mailto:fg-salg@samfundet.no">fg-salg@samfundet.no</a> med følgende opplysninger:</p>
            <pre><code>Navn: 
      Adresse: 
      Postnummer og sted: 
      E-post:
      
      Bilde: 
      Størrelse: 
      Antall: 
      Sendes per post eller hentes:
      </code></pre>
            <p>
                <strong>MERK</strong> Bestillinger som gjøres etter 15.11 om høsten og 15.04 om våren kan ikke garanteres levering
                før ferien på grunn av eksamensperiode.</p>
            <h5>Priser</h5>
            <ul>
                <li>A4 (21x30) - 200,-</li>
                <li>A3 (30x42) - 250,-</li>
                <li>A2 (42x60) - 300,-</li>
                <li>A1 (60x84) - 400,- (gjelder kun digitale utskrifter)</li>
            </ul>
            <p>Størrelsene er veiledende. Ved spesielle formatønsker, kontakt oss på epost. Vi kan også levere større format
                enn vist i tabellen ved digitale utskrifer: 60cm x ubegrenset lengde. Private bilder kan bestilles til samme
                pris.
            </p>
            <p>Alle bilder hentes i LUKA ved Søndre Side på Studentersamfundet i Trondhjem, eller sendes i posten, forsvarlig
                innpakket i harde papphylser, mot kr 80,- i porto og ekspedering. Leveringstid for bildene varierer avhengig
                av vår arbeidsbelastning, men man kan regne med ca. en måned fra betalingsdato i travle perioder. </p>
            <h4>Bruk av digitale bildefiler</h4>
            <p>Ta kontakt på
                <a href="mailto:fg-salg@samfundet.no">e-post</a> til
                <a href="mailto:fg-salg@samfundet.no">fg-salg@samfundet.no</a> for bruk av digitale bildefiler til internett, trykk og lignende. Eller bruk vår
                nye handlekurv ved å huke av bildene du vil ha, og gå til
                <strong>handlekurv</strong> i menyen øverst til høyre.</p>
            <h4>Eksterne oppdrag</h4>
            <p>Dersom vi har ledig kapasitet påtar vi oss eksterne fotooppdrag til en hyggelig pris. Vi tar de fleste typer
                oppdrag, ta kontakt på
                <a href="mailto:fg-salg@samfundet.no">e-post</a> til
                <a href="mailto:fg-salg@samfundet.no">fg-salg@samfundet.no</a> dersom du har en forespørsel. Eksempler på oppdrag vi utfører mye av er klassebilder
                og fotokurs. </p>
            <h5>Klassebilder</h5>
            <p>Vi har lang erfaring med klassefotografering. Med våre helprofesjonelle kameraer og fotoskrivere foreviger vi
                de gode studieminnene. Pris er kr 100 per bestilte papirkopi. Ta kontakt på epost for bestilling.</p>
            <p>
                <img alt="Klassebilde av Almenavdelingen, linje for teknisk fysikk ved daværende NTH fra 1976" src="https://fg.samfundet.no/media/alle/web/UNITC/unitc0206.jpg"
                />
            </p>
            <blockquote>
                <p>Klassebilde av Almenavdelingen, linje for teknisk fysikk ved daværende NTH fra 1976. </p>
            </blockquote>
            <h5>Fotokurs</h5>
            <p>Fotokurset er en workshop i komposisjon og bruk av kamera som skal gi inspirasjon og grunnlag for å ta bedre
                bilder. Kurset består av en teknisk del, en komposisjonsdel og en praktisk del. Kurset passer for nybegynnere
                og de som har fotografert litt allerede. Det er en fordel å ha eget kamera, men ikke et krav.</p>
            <p>
                <img alt="Fotokurs under Studenters Friundervisning fra 1952" src="http://fg.samfundet.no/media/alle/web/ARKIV/arkiv0136.jpg"
                />
            </p>
            <blockquote>
                <p>Fotokurs under Studenters Friundervisning fra 1952.</p>
            </blockquote>





        </div>
    </section>

</div>