<div id="main container">

  <body class="align-left">

    <section class="wrapper style1">
      <div class="inner">
        <h3>Tjenester og priser</h3>
        <h5>Bilder på papir</h5>
        <p>Bestilling av bilder på papir foregår via e-post. Send en e-post til fg-salg@samfundet.no med følgende opplysninger:</p>
        <pre><code>Navn: 
Adresse: 
Postnummer og sted: 
E-post:
            
Bilde: 
Størrelse: 
Antall: 
Sendes per post eller hentes:
            </code></pre>
        <p><strong>MERK</strong> Bestillinger som gjøres etter 15.11 om høsten og 15.04 om våren kan ikke garanteres levering
          før ferien på grunn av eksamensperiode.</p>

          <strong>Priser</strong>

          <ul>
            <li>A4 (21x30) - 200,-</li>
            <li>A3 (30x42) - 250,-</li>
            <li></li>
            <li></li>
          </ul>





      </div>
    </section>
  </body>

</div>