<ng-container *ngIf="photo?.photo && shown">
  <div (click)="shown = !shown" class="modal fixed">
    <img (contextmenu)="disableRightClick($event)" [src]="photo.photo.large" class="auto-width" alt="{{photo.motive}}" />
  </div>
  <fg-photo-info-modal  [photoDescription]="photo.description"></fg-photo-info-modal>
  <!-- <button class="btn btn-photo fixed z-over left" (click)="addToShoppingCart()" *ngIf="!photo.addedToCart">
    <i class="fa fa-cart-plus"></i> Kjøp
  </button>
  <button class="btn btn-photo fixed z-over left" (click)="removeFromShoppingCart()" *ngIf="photo.addedToCart">
    <i class="fa fa-cart-arrow-down success"></i>
  </button> -->

  <!-- <a routerLink="/foto" [queryParams]="{'motive': photo.motive}" class="btn btn-photo fixed z-over right">Gå til album</a> -->
</ng-container>
