/* Theme */
$brand: rgba(180, 32, 37, 1);
$background: #020B13;
$interactive_dark: #041625;
$background-gradient-left: #062038;
$background-gradient-right: #41484f;
$outline: rgba(255, 255, 255, 0.075);

/* Bootstraplike theme */
$default: #DFDFDF;
$default-contrast: #000;
$info: rgba(0, 117, 162, 1);
$info-contrast: #fff;
$warning: rgba(247, 240, 82, 1);
$warning-contrast: #000;
$success: #008428;
$success-contrast: #fff;
$primary: rgba(55, 114, 255, 1);
$primary-contrast: #fff;
$danger: rgba(223, 41, 53, 1);
$danger-contrast: #fff;

// Utility
$lighten-percent: 20%;
$darken-percent: 15%;
