@import '../../../styles/breakpoints.scss';
@import '../../../styles/_colors.scss';

.modal {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100001;
  background: rgba(1, 1, 1, 0.3);
  margin: auto;
}

.fixed {
  position: fixed;
}

.form {
  width: 20rem;
  height: auto;
  padding: 2rem;
  background: $background-gradient-right;
  border: 1px solid white;
  border-radius: 10px;

  @media (max-width: $tablet-width) {
    & {
      width: 100vh;
      height: 60vh;
    }
  }
}

.input-group {
  width: 100%;

  & > input {
    width: 100%;
  }
}
