<div *ngIf="shown" class="modal fixed" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <form (clickOutside)="shown = false" [exclude]="'.login'" [formGroup]="loginForm" class="form" fxLayout="column" fxLayoutAlign="stretch center"
    fxLayoutGap="20px">
    <button class="btn" type="button" (click)="shown = false">Lukk</button>
    <div class="input-group">
      <label>Brukernavn</label>
      <input type="text" formControlName="username">
    </div>

    <div class="input-group">
      <label>Passord</label>
      <input type="password" formControlName="password">
    </div>

    <div fxLayout="row" fxLayoutGap="5px">
      <button type="button" (click)="login()" [disabled]="!loginForm.valid" class="btn btn-info">Logg inn</button>
    </div>

  </form>

</div>
