<div *ngIf="shown" class="modal fixed" fxLayout="column">
  <form [formGroup]="loginForm" class="form" (ngSubmit)="login()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button class="btn" type="button" (click)="shown = false">Lukk</button>
    <div class="input-group">
      <label>Brukernavn</label>
      <input type="text" formControlName="username">
    </div>

    <div class="input-group">
      <label>Passord</label>
      <input type="password" formControlName="password">
    </div>

    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Logg inn</button>

  </form>

</div>
