<div id="main container">
  <section class="wrapper style1">
    <div class="inner">

      <h2>Historie</h2>
      <ul>
        <li>Opprettet: 7. oktober 1958.</li>
        <li>Forhistorie: Oppstod med utgangspunkt i Studentenes Kameraklubb, som igjen hadde sitt utspring i ARK (Akademisk Radioklubb).</li>
        <li>Status i Huset: Fast gjeng.</li>
        <li>Arbeidsområde: Sørge for fotografisk dokumentasjon av aktivitetene i Studentersamfundet. Har også tradisjonelt vært
          utgangspunktet for Filmgjengen under UKA.</li>
        <li>Størrelse 1958: 8 medlemmer.</li>
        <li>Størrelse 1998: 9 medlemmer. </li>
      </ul>
      <h3>Fra
        <em>Vår egen lille verden</em>. Skrevet til Studentersamfundets 75-årsjubileum i 1985.</h3>
      <p>I Finansstyremøtet den 7. oktober 1958 ble det bestemt at Fotogjengen (FG) skulle være en «gjeng» i Huset, underlagt
        Finansstyret. Barnet var imidlertid nær konfirmasjonsalderen ved fødselen. Det første organiserte studentlynlys i
        Storsalen ble nemlig avfyrt under lørdagsmøtet 16. mars 1946. En liten gruppe utgått fra Studentenes Kameraklubb
        (S.K.) hadde fått Styrets tillatelse til å illustrere en reportasje fra studentlivet. Som Forsterkerkomiteen (FK)
        må også FG medgi at et avgjørende iniativ ble tatt av rastløse entusiaster i Akademisk Radioklubb (ARK) i en urtid.
        Så tidlig som i 1938 stiftet noen fotograferende amatørstudenter fra ARK Studentenes Kameraklubb, og showet var i
        gang. Men mye hadde skjedd enda tidligere. Helt tilbake til NTHs åpning i 1910 finnes filmmateriale, uten at det
        har påkalt nevneverdig oppmerksomhet i tidligere utgaver av Studentersamfundets krøniker. Dette kapitlet vil derfor
        favne alt foto- og filmarbeid utført av Samfundsmedlemmer i Samfundets regi. Det er naturlig å skille mellom filmarbeid
        og stillbildefotografering. Plassen tillater dessverre ingen spontane skildringer fra FGs liv, og bildematerialet
        som vises er rent symbolsk.</p>
      <h4>Urtida</h4>
      <p>Fotograf Hilfling, senere hans sønn, Hilfling jr., var Studentersamfundets (og UKAs) faste fotograf fra starten i 1910
        til og med UKA-45, både av daglige og festlige begivenheter. Negativ-arkivet fra denne perioden er nå i forvaring
        ved Universitetsbiblioteket i Trondheim. Allerede tidlig i 30-årene hadde ARK innredet eget mørkerom i Huset. Til
        ARK søkte folk av alle slag, og 3. mai 1938 dannet en utbrytergruppe Studentenes Kameraklubb. 23.1.45 søkte de Studentersamfundet
        om å overta ARKs «to rum på klubbloftet når disse evakueres» og videre «Kameraklubben mener sig kompetent til som
        vederlag for adgang til lokaler å overta eventuell fotografering for Studentersamfundet. Slikt arbeide har allerede
        vært utført i mindre målestokk. En henviser til en bemerkning om UKA i Verdens Gang: «Det var bare fotograf-direktoratet
        som manglet...» Vi er i stand til å fylle dette savn». Studentersamfundet kunne imidlertid ikke ha følt savnet som
        sårt. Søknaden om lokale ble innvilget, men det ble ikke gjort noen avtale om fotografering. Høsten 1946 skrev redaktør
        Nic. Stabell i Under Dusken (UD) et åpent brev til S.K. hvor han etterlyste en kontinuerlig fotografering av begivenhetene
        i Studentersamfundet «til bruk både nå og i ettertid». Svaret fra S.K. var at S.K. trengte litt økonomisk støtte
        fra Finansstyret (FS) til å gjøre jobben, noe FS da ikke var villig til å yte. Etter søknad fikk S.K. fotograferingen
        ved UKA-47, en avtale sluttet på forretningsmessig basis. S.K. så denne oppgaven som en introduksjon til «et ledd
        i planen om en utstrakt fotografering med arkivering av Samfundet og Høgskolen». Dette skulle imidlertid ta sin tid.
        FS innvilget de fire medlemmene i S.K.s arbeidsutvalg Fotogjengen funksjonærkort f.o.m. høsten 1950. I tillegg fikk
        S.K.s arbeidsutvalg Fotogjengen disponere en kottliknende hybel. Mørkerom måtte lånes på Singsaker Studenthjem. Denne
        upraktiske arbeidssituasjonen fortsatte til FG ble fast gjeng. Den første noenlunde regelmessige fotografering og
        arkivering av Samfundsbegivenheter (utenom UKA) i FGs regi begynte våren 1950, men først på vårparten 1958 fikk S.K.
        presset FS til å nedsette et felles utvalg for å vurdere Fotogjengens drift og rolle i Huset. Og nå, etter mer enn
        10 års virksomhet var tiden, eller kanskje heller FS, moden for å innlemme Fotogjengen som en av Husets faste gjenger,
        noe som også betød et mer ordnet forhold til UKA. FS påtok seg samtidig et beskjedent økonomisk ansvar som satte
        FG i stand til å holde kontinuitet i bildearkivet fra Samfundets arrangementer. Urtida var over.</p>
      <h4>«Minste gjengen i huset»</h4>
      <p>FG var, som de andre gjengene dengang, en klubb for ubefestet mannlig ungdom i senpuberteten. Dette illustreres bl.a.
        av innførsler i FGs hybelbok (gjestebok i fri utfoldelse i festlig samvær). Fra slutten av 50-årene finner vi: «Vedtatt
        å la Holthe og Goddal kanonfotografere på Klubbaften så de kan skaffe 100,- til en aften i Herreklubben.»(Tenk det,
        Hedda!, men Hedda svarte:)(innført 20.9.57): «Ta ned Playboybildene ellers kommer jeg ikke igjen mere. Gunn (sign.)».
        Som de aller fleste gjengmedlemmer kanaliserte FGerne sine håp, drømmer og lengsler delvis inn i gjengens arbeid.
        Denne energien skulle de 4 faste + 2 aspiranter komme til å trenge i den tida som fulgte. Først høsten 1960 fikk
        FG disponere midlertidig et lokale til mørkerom i Huset. Men de ble fratatt eneretten på fotografering i Studentersamfundet
        allerede 15.10.59! Videre ble det aldri foretatt noen skikkelig investering i det halv- og hel-profesjonelle utstyr
        som er nødvendig for å kunne levere teknisk skikkelig fotoarbeid kontinuerlig. I tillegg til den noe ulike kampen
        som ble ført mot teknikken, ble også nykomlingen noe nedlatende behandlet av Husets herskende klasse: FK, Regi og
        KLST. I grenselandet mellom teknisk gjeng og kreative åndsmennesker følte nok mange FGere seg mer hjemme blant SITs
        bohemer, som jo alltid har elsket å bli fotografert. Men ytre press skaper indre samhold, og FG hadde god PR-støtte
        i UKE-filmene, solide stemningsskapere i en alltid nytelsessyk Storsal. Etter den store ombyggingen i 1964 ble både
        hybel og mørkerom plassert på søndre sideloft, riktignok i ett og samme lokale: «flerformålsanvendelse». Dagens lokaler
        stammer fra siste omkalfatring som var ferdig til UKA-71.</p>
      <h4>Inngangen til en ny tid</h4>
      <p>FG ble tatt in i Studentersamfundets lover og fikk samtidig tilbake eneretten til fotografering i Studentersamfundet
        18.3.68. Nå var altså FG ikke bare en sak som kunne håndteres internt av FS, men også for Storsalen. Høsten 1968
        gjennomførte FG en grundig intern studie av arbeidsrutiner og arbeidsbelastning. På grunnlag av denne, ut fra nødvendigheten
        av bedre kontinuitet i arbeidet med UKEfilmen og ved at FG tok over kinofilmkjøringa i storsalen fra Regi, kom FG
        oppi sin nåværende bemanning på 8 faste gjengmedlemmer. Den politisering av lørdagsmøtene som ble introdusert med
        Rød Front-styret våren 1971, slo også inn i FGs rekker. FGs torsdagsmøter ble enkelte ganger en storsal i miniatyr,
        med replikkveksliger til langt på natt om evige sannsynligheter i politikken, en viksomhet Sysifos verdig. Noen klarte
        ikke å skille mellom politiske og eksistensielle spørsmål, mens andre fikk utløp for all sitt vidd, sine saraksmer
        og spydige spissfindigheter. En livlig tid. Det sier mye om gjengens solidaritet og samhold at det svært sjelden
        kom til åpne, personlige uoverstemmelser, og all jobbing gikk som normalt. Tradisjonen var blitt sterk nok til å
        takle denne voldsomme perioden med rivninger som ville ha pulverisert svakere organiserte grupper uten forpliktelser.
        Her og nå må det avsannes at opptak av nye i denne perioden skjedde på politisk grunnlag. Selv om FG fikk ord på
        seg i huset som den røde fotbanden, så fantes det alltid et jordnært og liberalt element i FG sterkt nok til å påse
        at det ikke skjedde noen formelle utskeielser. Grensen ved intervju av søkere ble satt ved spørsmål om de fulgte
        med i den politiske drakampen i Huset. Parolen var å tjene folket. Anarkosyndikalistiske flørtere i FG som ville
        så forvirring i m-l-ernes rekker ga slagordets endelige form: «Tjen folker!... og penger!» Ikke rart at 70-årene
        fadet ut i disco og dogmatisk degenerering. Under den store radikale perioden fra begynnelsen av 70-årene ble det
        manifestert at «Pensjonister er papirtigre!» Pensjonister er, som alle eldre, både en støtte og en belastning. Å
        høre 25 år gamle studenter mulle nostalgisk i timesvis med pilssløret blikk over mikrokosmiske begivenheter 2-3 år
        tilbake i tida påkaller snarere medfølelse enn beundring. Når eldrepersonene merker at deres mimring ikke lenger
        gjør inntrykk, begynner de å legge seg opp i gjengens drift. Da er imidlertid beskjeden klar fra de faste: «Hvis
        du skal gjøre jobben skal vi høre på deg, ellers er det bare å klappe igjen til du blir spurt». Den første jenta
        ble tatt opp i FG høsten 1973. Utover 70-årene ble det tatt opp en jente annenhvert år inntill 1984 da halvparten
        av gjengen, inklusive gjengsjefen var jenter. Samtidig fikk både FK, D-gjengen og Regi kvinnelige gjengsjefer. For
        gjengene et historisk år.</p>
      <h4>«Hva gjør vi nu, lille du?»</h4>
      <p>FG er som de andre gjengene en institusjon i evig runddans. Med en gjennomløpstid på 2,5 år for de faste gjengmedlemme
        vil gjengen holde seg evig ung. Det hevdes at gjengmedlemmene bruker ett år på å jobbe seg inn i gjengen, og ett
        år på å jobbe seg ut. Gjengens erfaringer og kunnskap er til enhver tid nær identisk med gjengmedlemmenes, da de
        fleste praktiske erfaringer blir dosert videre muntlig. Denne oscillerende tilstanden, inn og ut på 2,5 år, motvirker
        den konvensjonelle akkkumulering av erfaring og kunnskaper som tidsforløp vanligvis medfører. I vår rasjonelle tid
        hvor vi ukritisk identifiserer tidsforløp med framskritt gir denne 2,5-års oscillasjonen et nærmest middelaldersk
        verdensbilde, en befriende opplevelse av at tiden i virkeligheten går i ring. Noen pensjonister er faktisk blitt
        værende i byen etter studietida. Noen er til og med blitt tvunget til å ta seg arbeid. Fra begynnelsen av 70-årene
        kom også NLHT (nå AVH)-studenter og annen ikke definerbar materie seg til å søke FG. De har bidratt til en utvidelse
        av horisonten og til et større pensjonistmiljø som i heldige øyeblikk kan gi de faste inspirasjon, endog direkte
        hjelp. FG er for noen ikke bare en fritidsaktivitet, men et sted å være og et fast holdepunkt; en eksistensiell størrelse.
        «Gjengen» er et begrep som også benyttes om selve hybelen, og som tydelig viser at et miljø skapes av et sted å være.
        Sleng på endel faste arbeidsoppaver, gi ungdommen en nøkkel, knytt dem til en tradisjon og se: det blir folk av dem.
        «Etter noen år i FG blir folk rent sagt hyggelige» sier FGs husdiktere. I sine beste perioder (Spesielt i UKE-semestre)
        er FG et godt tilbud til selvrealisering, et brytningssted mellom ungdommer som har behov for både sosial omgang
        og kreative/tekniske oppgaver. Samtidig er gjengmiljøet en smertefull, men befriende opplevelse av å tape illusjoner;
        ånden berikes. Denne forhåpentligvis positive utvikling av personligheten skjer med sympatisk støtte fra likesinnede,
        der alle angriper tilværelse med sine ressurser og med økende erkjennelse av at det skal ulike mennesketyper til
        for å stimulere denne tilstanden. Hvert år tas 4-5 nye funksjonærer opp og sikrer dynamikken i systemet. </p>


    </div>
  </section>
</div>