<div id="main container">
    <section class="wrapper style1">
        <div class="inner">
                <h2 align="center">Om oss</h2>
                <p>
                    Fotogjengen er en gjeng ved Studentersamfundet i Trondhjem. Vi har som oppgave å ta bilder av alt som skjer på Samfundet,
                    under UKA og under ISFiT. Vi består av 9 funksjonærer og 2 gjengmedlemmer. På denne siden finner du informasjon
                    om oss og hvilke tjenester vi tilbyr.
                </p>

            <div class="card-container" fxLayout="row" fxLayoutWrap flexLayoutAlign="center">

                <a routerLink="historie" class="card" fxLayout="column" fxFlex.gt-xs="49" fxFlex.xs="100">
                    <h3>Historie - Fra start til nå</h3>
                </a>

                <div fxFlex.gt-xs="2"></div>

                <a routerLink="soke-fotogjengen" class="card" fxLayout="column" fxFlex.gt-xs="49" fxFlex.xs="100">
                    <h3>Ønsker du å bli med i fotogjengen?</h3>
                </a>

                <a routerLink="kredittering" class="card" fxLayout="column" fxFlex.gt-xs="49" fxFlex.xs="100">
                    <h3>Kredittering</h3>
                    <p>Hvordan kreditere bruken av Fotogjengens bilder.</p>
                </a>

                <div fxFlex.gt-xs="2"></div>

                <a routerLink="priser" class="card" fxLayout="column" fxFlex.gt-xs="49" fxFlex.xs="100">
                    <h3>Tjenester</h3>
                    <p>Her kan du lese om Fotogjengens tjenester, priser og om hvordan du bestiller bilder på papir.</p>
                </a>

                <a routerLink="leie-fotogjengen" class="card" fxLayout="column" fxFlex.gt-xs="100" fxFlex.xs="100">
                    <h3>Leie fotogjengen?</h3>
                    <p>Ønsker du å bestille bilder eller booke fotogjengen? Send mail til fg-salg@samfundet.no med din henvendelse.</p>
                </a>

            </div>

            <div fxLayout="column" fxLayoutAlign="start center">
              <div>
                <img src="https://foto.samfundet.no/media/alle/web/DIGFU/digfu5403.jpg" alt="Fotogjengen 2017">
              </div>
            </div>
        </div>
    </section>
</div>
