<!-- Main -->
<div id="main container">

    <!-- One -->
    <section class="wrapper style1">
        <div class="inner">
            <header class="align-center">
                <h2>Om oss</h2>
                <p>
                  Fotogjengen er en gjeng ved Studentersamfundet i Trondhjem. Vi har som oppgave å ta bilder av alt som skjer på Samfundet, under UKA og under ISFiT.
                  Vi består av 9 funksjonærer og 2 gjengmedlemmer.
                  På denne siden finner du informasjon om oss og hvilke tjenester vi tilbyr.
                </p>
            </header>
           <div fxLayout="column" class="table-wrapper">
               <table>
                   <thead>
                        <tr fxLayoutAlign="center center" fxLayout="row" class="links">
                            <th fxFlex="33%"><a routerLink="kredittering"><h3>Kredittering</h3></a></th>
                            <th fxFlex="33%"><a routerLink="priser"><h3>Tjenester</h3></a></th>
                            <th fxFlex="33%"><a routerLink=""><h3>Bestilling</h3></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td fxFlex="33%"><a routerLink="kredittering">Hvordan kreditere bruken av Fotogjengens bilder.</a></td>
                            <td fxFlex="33%"><a routerLink="priser">Her kan du lese om Fotogjengens tjenester, priser og om hvordan du bestiller bilder på papir.</a></td>
                            <td fxFlex="33%"><a routerLink="">Ønsker du å bestille bilder eller booke fotogjengen? Send mail til fg-salg@samfundet.no med din henvendelse.</a></td>
                        </tr>
                    </tbody>
               </table>
               <table>
                   <thead>
                        <tr>
                            <th fxFlex="50%"><a><h3>Historie</h3></a></th>
                            <th fxFlex="50%"><h3>Ønsker du å søke?</h3></th>
                        </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td fxFlex="50%"><a href="#">Hvordan fotogjngen ble dannet</a></td>
                           <td fxFlex="50%"><a href="#">Ofte stilte spørsmål.</a></td>
                       </tr>
                   </tbody>
               </table>
           </div>
           <div fxLayout="column">
                <img src="http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/France/Nice/Nice%2C%20france-xlarge.jpg" alt="">
           </div>
        </div>
    </section>
</div>
