@import '../../../styles/_colors.scss';

:host {
  position: fixed;
  z-index: 20;
  bottom: 30px;
}

.success {
  background-color: $success;
  color: $success-contrast;
}

.danger {
  background-color: $danger;
  color: $danger-contrast;
}

.warning {
  background-color: $warning;
  color: $warning-contrast;
}

.info {
  background-color: $info;
  color: $info-contrast;
}
