<!-- Container -->
<div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="25px">
    <form [formGroup]="uploadForm" (ngSubmit)="upload()" fxLayout="column" fxFlex="100" fxLayoutGap="15px">
      <div fxLayout="column">
        <label>Album</label>
        <select formControlName="album">
        <option [ngValue]="album.id" *ngFor="let album of albums">{{album.name}}</option>
      </select>
      </div>
      <div fxLayout="column">
        <label>Side</label>
        <input type="number" formControlName="page">
      </div>
  
      <div class="hidden">
        <label>Bildenummer</label>
        <input type="number" formControlName="image_number">
      </div>
      <div fxLayout="column">
        <label>Start</label>
        <input type="number" formControlName="start_image">
      </div>
      <div fxLayout="column">
        <label>Antall bilder på film</label>
        <input type="number" formControlName="number_of_images">
      </div>
      <div fxLayout="column">
        <label>Motiv</label>
        <input type="text" formControlName="motive">
      </div>
      <div fxLayout="column">
        <label>Tag</label>
        <fg-chips formControlName="tags"></fg-chips>
      </div>
      <div fxLayout="column">
        <label>Dato</label>
        <div fxLayout="row" fxLayoutAlign="stretch">
          <input fxFlex="100" (click)="dp.toggleCalendar()" class="datepicker clickable right-edge" ngx-mydatepicker [options]="options" #dp="ngx-mydatepicker"
            formControlName="date_taken">
          <button type="button" class="btn btn-info" (click)="dp.toggleCalendar()">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
      <div fxLayout="column">
        <label>Media</label>
        <select formControlName="media">
        <option [ngValue]="media.id" *ngFor="let media of mediums">{{media.name}}</option>
      </select>
      </div>
      <div fxLayout="column">
        <label>Kategori</label>
        <select formControlName="category">
        <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
      </select>
      </div>
      <div fxLayout="column">
        <label>Sted</label>
        <select formControlName="place">
        <option [ngValue]="place.id" *ngFor="let place of places">{{place.name}}</option>
      </select>
      </div>
      <div fxLayout="column">
        <label>Sikkerhetsnivå</label>
        <select formControlName="security_level">
        <option [ngValue]="securityLevel.id" *ngFor="let securityLevel of securityLevels">{{securityLevel.name}}</option>
      </select>
      </div>
  
      <div fxLayout="column">
        <label for="lapel">Oppslagsbilde</label>
        <input id="lapel" type="checkbox" formControlName="lapel">
      </div>
      <div fxLayout="column">
        <label for="scanned">Scannet</label>
        <input id="scanned" type="checkbox" formControlName="scanned">
      </div>
  
      <button class="btn btn-primary" type="submit" [disabled]="!uploadForm.valid">
          <i class="fa fa-upload"></i> Start alle
      </button>
  
      <p>{{uploadForm.value | json}}</p>
      <p>{{uploadForm.valid | json}}</p>
    </form>
    
  </div>
  