@import '../../../styles/_mixins.scss';
@import '../../../styles/_colors.scss';


.shopping-card {
  &--image {
    height: inherit;
  }

  &--image > img {
    max-height: 12rem;
  }

  &--details > div div {
  }
}

.alert {
  position: fixed;
  &--text {
    font-size: 1.5rem;
    margin: 1rem;

    @include linx($link, $visit, $hover, $active);
  }
}
