<div class="table-container">
  <table class="user-table">
    <thead class="user-table--head">
    <tr class="user-table--head--row">
      <th>Navn</th>
      <th>Adresse</th>
      <th>E-post</th>
      <th>Tlf</th>
      <th>Opptaksår</th>
      <th>Verv</th>
      <th>Annet</th>
      <th>Rediger</th>
      <th>Slett</th>
    </tr>
    </thead>
    <tbody class="user-table--body">
    <tr *ngFor="let user of users" class="user-table--body--row">
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td>{{user.address}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.opptaksaar}}</td>
      <td>{{user.gjengjobb1}} - {{user.gjengjobb1}} - {{user.gjengjobb1}}</td>
      <td>{{user.comments}}</td>
      <td>
        <button class="btn btn-primary">Rediger</button>
      </td>
      <td>
        <button (click)="delete(user)" class="btn btn-danger">Slett</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<fg-powerusers-modal></fg-powerusers-modal>
