@import '../../../styles/breakpoints.scss';

.menu-closer {
  position: absolute;
  top: 10px;
  left: 1em;
  width: 100%;
  font-weight: bold;
}

.search-input {
  padding-left: 1.8em;
  border-radius: 3em;
  margin: 0.2em;
  height: 2em;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.search-icon-button {
  cursor: pointer;
  position: relative;
  left: 32px;
  top: 7px;
}

#search-input label {
  position: absolute;
  left: 17px;
  top: 51px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.brand {
  &--title {
    font-size: 1.25em;
  }

  &--logo {
    filter: grayscale(100%) invert(100%);
    height: 40px;
    padding-top: 0.5em;
  }
}

.transparent {
  background-color: transparent;
  border-color: transparent;
}

// TODO clean up


body.subpage {
  padding-top: 3.125em;
}
header {
  background: rgba(4, 22, 37, 0.75);
  color: #c0c5c9;
  cursor: default;
  height: 3em;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10001;
}

header > a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  display: inline-block;
  padding: 0 0.75em;
  color: inherit;
  text-decoration: none;
}
header > a:hover {
  color: #ffffff;
}
header > a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
header > a:before {
  margin: 0 0.5em 0 0;
}
header > a + a:last-child {
  border-left: solid 1px rgba(255, 255, 255, 0.15);
  padding-left: 1.25em;
  margin-left: 0.5em;
}
header > a:last-child {
  padding-right: 1.25em;
}
