<!-- Header -->
<header fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
  <a href="/" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div class="brand">
      <img class="brand--logo" src="assets/images/fg-logo.png">
    </div>
    <div fxHide fxShow.gt-sm class="brand">
      <span class="brand--title" >fotogjengen</span>
    </div>
  </a>

  <div fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="!(store.photoRouteActive$ | async)" fxLayout="row">
      <label class="search-icon-button" for="search-input" (click)="onSearchEnter(searchBox.value)">
        <i class="fa fa-search" aria-hidden="true"></i>
    </label>
      <input #searchBox class="search-input" id="search-input" type="text" [(ngModel)]="searchInput" (keyup.enter)="onSearchEnter(searchBox.value)"
      />
    </div>
    <button  class="btn transparent" (click)="toggleMenu()"><i class="fa fa-bars"></i> Meny</button>
  </div>
</header>

<!-- Nav -->
<nav [ngClass]="[isMenuOpen ? 'visible':'close']" id="menu">
  <button class="btn transparent menu-closer" (click)="toggleMenu()">LUKK</button>
  <ul class="links">
    <li><a routerLink="forside" (click)="toggleMenu()">Forside</a></li>
    <li><a routerLink="info" (click)="toggleMenu()">Info</a></li>
    <li><a routerLink="kontakt" (click)="toggleMenu()">Kontakt</a></li>
    <li><a routerLink="intern" (click)="toggleMenu()">Intern</a></li>
  </ul>
</nav>
