<!-- Header -->
<header fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <a href="/" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <div class="brand">
      <img class="brand--logo" src="assets/images/fg-logo.png">
    </div>
    <div fxHide fxShow.gt-sm class="brand">
      <span class="brand--title">fotogjengen</span>
    </div>
  </a>


  <div fxLayout="row" fxLayoutAlign="center center">
      <div *ngIf="!(store.photoRouteActive$ | async)" fxLayout="row">
      <label class="search-icon-button" for="search-input" (click)="onSearchEnter(searchBox.value)">
        <i class="fa fa-search" aria-hidden="true"></i>
      </label>
      <input matInput [matAutocomplete]="fullsearch" (input)="onInputChange()" #searchBox class="search-input" id="search-input" type="text" (keyup.enter)="onSearchEnter(searchBox.value)"
      />
    </div>
    <button class="btn transparent open-menu" (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
      <span fxHide.lt-sm="true">Meny</span>
    </button>
  </div>
</header>

<!-- Nav -->
<nav [ngClass]="[isMenuOpen ? 'visible':'close']" id="menu" (clickOutside)="isMenuOpen ? toggleMenu():''" [exclude]="'.open-menu'">
  <button class="btn transparent menu-closer" (click)="toggleMenu()">LUKK</button>

  <a *ngIf="!store.getUsernameAction()" (click)="showLoginModal()" class="login clickable"> Logg inn</a>
  <div class="login" *ngIf="store.getUsernameAction()" fxLayout="row" fxLayoutAlign="space-between">
    <span>
      <i class="fa fa-user-o"></i> {{store.getUsernameAction()}}</span>
    <button (click)="store.logoutAction()" class="btn">Logg ut</button>
  </div>

  <ul class="links">
    <li>
      <a routerLink="forside" (click)="toggleMenu()">Forside</a>
    </li>
    <li>
      <a routerLink="info" (click)="toggleMenu()">Info
        <i class="fa fa-info-circle"></i>
      </a>
    </li>
    <li>
      <a routerLink="kontakt" (click)="toggleMenu()">Kontakt
        <i class="fa fa-address-card-o"></i>
      </a>
    </li>
    <li *ngIf="store.getUsernameAction()">
      <a routerLink="handlekurv" (click)="toggleMenu()">Handlekurv
        <i class="fa fa-shopping-cart"></i>
      </a>
    </li>
    <li class="intern" *ngIf="store.getUsernameAction()">
      <a routerLink="intern" (click)="toggleMenu()">Intern
        <i class="fa fa-camera-retro"></i>
      </a>
    </li>
  </ul>
</nav>

<mat-autocomplete #fullsearch="matAutocomplete">
  <mat-option *ngFor="let item of filteredStrings" [value]="item">
    {{ item }}
  </mat-option>
</mat-autocomplete>
