<!-- Header -->
<header id="header">
  <h1><a href="/">fotogjengen</a></h1>
  <button style="background-color: transparent;" (click)="toggleMenu()">Menu</button>
</header>

<!-- Nav -->
<nav [ngClass]="[isMenuOpen ? 'visible':'close']" id="menu">
  <button class="menu-closer" (click)="toggleMenu()">LUKK</button>
  <ul class="links">
    <li><a routerLink="forside" (click)="toggleMenu()">Forside</a></li>
    <li><a routerLink="info" (click)="toggleMenu()">Info</a></li>
    <li><a routerLink="kontakt" (click)="toggleMenu()">Kontakt</a></li>
    <li><a routerLink="intern" (click)="toggleMenu()">Intern</a></li>
  </ul>
</nav>
