<div class="col-xs-12 row center-xs p-t-2">
<div *ngIf="root" class="col-xs-12">
    <div class="row center-xs">
      <img *ngFor="let photoResult of root.results"
           [class]="photoResult.klass"
           src="{{photoResult.photo.small}}"
           srcset="{{photoResult.photo.small}} 400w, {{photoResult.photo.medium}} 900w, {{photoResult.photo.large}} 1200w"
           alt="{{photoResult.description}}"/>
    </div>
  <!--TODO bug with iOS devices, seems to only pick first element in srcset no matter what-->
</div>
</div>
