@import '../../../../styles/_colors.scss';

.progress {
  background-color: $background-gradient-right;
  width: 100%;
  height: 20%;
  border-radius: 5px;
  overflow: hidden;

  &--bar {
    width: 0%;
    max-width: 100%;
    height: 100%;
    background-color: $success;
    transition: all 1s ease-in;
  }
}

.preview {
  padding-top: 20px;

  &--icon {
    background-size:cover;
    background-repeat:no-repeat;
    width:100px;
    height:100px;
    border: 1px solid $outline;
  }
}

.preview+.preview {
  border-top: 1px solid #9B9B9B;
}

.hover-zone {
  text-align: center;
  padding: 2rem;
  border: 3px dashed #9B9B9B;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hover-zone:hover {
  background-color: $outline
}

.hover-safe-zone {
  background-color: #487B48;
}

.hover-danger-zone {
  background-color: #721717;
}

.chip {
  color: white;
  background-color: $primary;
  border-radius: 3px;

  vertical-align: middle;
  overflow: hidden;
  padding: .125em .5em;
  white-space: nowrap;
  position: relative;
  margin-left: 1em;
  border: 0 none;
  font-size: .7em;
}

#tags {
  background: transparent;
}