<!-- Container -->
<div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="25px">
  <form [formGroup]="uploadForm" (ngSubmit)="uploadAll()" fxLayout="column" fxFlex="<grow>" fxLayoutGap="15px">
    <div fxLayout="column">
      <label>Album</label>
      <select formControlName="album">
      <option [ngValue]="album.id" *ngFor="let album of albums">{{album.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Side</label>
      <input type="number" formControlName="page">
    </div>

    <div fxLayout="column">
      <label>Bildenummer</label>
      <input type="number" formControlName="image_number">
    </div>
    <div fxLayout="column">
      <label>Motiv</label>
      <input type="text" formControlName="motive">
    </div>
    <div fxLayout="column">
      <label>Tag</label>
      <input type="text" formControlName="tags">
    </div>
    <div fxLayout="column">
      <label>Dato</label>
      <input type="text" formControlName="date_taken">
    </div>
    <div fxLayout="column">
      <label>Media</label>
      <select formControlName="media">
      <option [ngValue]="media.id" *ngFor="let media of mediums">{{media.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Kategori</label>
      <select formControlName="category">
      <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Sted</label>
      <select formControlName="place">
      <option [ngValue]="place.id" *ngFor="let place of places">{{place.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Sikkerhetsnivå</label>
      <select formControlName="security_level">
      <option [ngValue]="securityLevel.id" *ngFor="let securityLevel of securityLevels">{{securityLevel.name}}</option>
    </select>
    </div>

    <div fxLayout="column">
      <label>Oppslagsbilde</label>
      <input type="checkbox" formControlName="lapel">
    </div>
    <div fxLayout="column">
      <label>Vises på forsiden</label>
      <input type="checkbox" formControlName="on_home_page">
    </div>
    <div fxLayout="column">
      <div fxLayout="row">
        <label>Sett som bannerbilde</label>
        <div class="chip"><i class="fa fa-certificate"></i> Ny!</div>
      </div>
      <input type="checkbox" formControlName="splash">
    </div>

    <button class="btn" type="submit" [disabled]="!uploadForm.valid">
      Start alle
    </button>

    <p>{{uploadForm.value | json}}</p>
    <p>{{uploadForm.valid | json}}</p>
  </form>

  <!-- Preview box -->
  <div fxFlex="<grow>" fxLayout="column" fxLayoutGap="20px">
    <div class="hover-zone" ngfDrop selectable="1" multiple="1" [(files)]="files" [(validDrag)]="validComboDrag" [(invalidDrag)]="invalidComboDrag"
      [ngClass]="{'hover-safe-zone': validComboDrag, 'hover-danger-zone': invalidComboDrag}" accept="image/*">
      Klikk her eller dra bilder til dette feltet
    </div>

    <div *ngFor="let file of files" class="preview" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <div [ngfBackground]="file" class="preview--file"></div>
      <span>{{file.name}}</span>
      <span>{{file.size | megabytes}}</span>
      <button class="btn btn-remove" (click)="removeFile(file)">Fjern</button>
      <button class="btn" (click)="uploadFile(file)" [disabled]="!uploadForm.valid">Start</button>
    </div>
  </div>

</div>
