<!-- Container -->
<div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="25px">
  <form [formGroup]="uploadForm" (ngSubmit)="uploadAll()" fxLayout="column" fxFlex="30" fxLayoutGap="15px">
    <div fxLayout="column">
      <label>Album</label>
      <select formControlName="album">
      <option ng-style="{'background-color': 'red'" [ngValue]="album.id" *ngFor="let album of albums">{{album.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Side</label>
      <input type="number" formControlName="page">
    </div>

    <div fxLayout="column">
      <label>Bildenummer</label>
      <input type="number" formControlName="image_number">
    </div>
    <div fxLayout="column">
      <label>Motiv</label>
      <input type="text" formControlName="motive">
    </div>
    <div fxLayout="column">
      <label>Tag</label>
      <fg-chips formControlName="tags" [search]="false"></fg-chips>
    </div>
    <div fxLayout="column">
      <label>Dato</label>
      <div fxLayout="row" fxLayoutAlign="stretch">
        <input fxFlex="100" (click)="dp.toggleCalendar()" class="datepicker clickable right-edge" ngx-mydatepicker [options]="options" #dp="ngx-mydatepicker"
          formControlName="date_taken">
        <button type="button" class="btn btn-info" (click)="dp.toggleCalendar()">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <div fxLayout="column">
      <label>Media</label>
      <select formControlName="media">
      <option [ngValue]="media.id" *ngFor="let media of mediums">{{media.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Kategori</label>
      <select formControlName="category">
      <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Sted</label>
      <select formControlName="place">
      <option [ngValue]="place.id" *ngFor="let place of places">{{place.name}}</option>
    </select>
    </div>
    <div fxLayout="column">
      <label>Sikkerhetsnivå</label>
      <select formControlName="security_level">
      <option [ngValue]="securityLevel.id" *ngFor="let securityLevel of securityLevels">{{securityLevel.name}}</option>
    </select>
    </div>

    <div fxLayout="column">
      <label for="lapel">Oppslagsbilde</label>
      <input id="lapel" type="checkbox" formControlName="lapel">
    </div>
    <div fxLayout="column">
      <label for="on_home_page">Vises på forsiden</label>
      <input id="on_home_page" type="checkbox" formControlName="on_home_page">
    </div>
    <div fxLayout="column">
      <div fxLayout="row">
        <label for="splash">Sett som bannerbilde</label>
        <div class="chip"><i class="fa fa-certificate"></i> Ny!</div>
      </div>
      <input id="splash" type="checkbox" formControlName="splash">
    </div>

    <button class="btn btn-primary" type="button" (click)="uploadAll()" [disabled]="!uploadForm.valid">
        <i class="fa fa-upload"></i> Start alle
    </button>

    <p>{{uploadForm.value | json}}</p>
    <p>{{uploadForm.valid | json}}</p>
  </form>

  <!-- Preview box -->
  <div fxFlex="<grow>" fxLayout="column" fxLayoutGap="20px">
    <div class="hover-zone" #ngfUploader ngfDrop selectable="1" multiple="1" [uploader]="uploader" [(validDrag)]="validComboDrag"
      [(invalidDrag)]="invalidComboDrag" [ngClass]="{'hover-safe-zone': validComboDrag, 'hover-danger-zone': invalidComboDrag}"
      accept="image/*">
      <i class="fa fa-plus fa-lg"></i> Klikk her eller dra bilder til dette feltet
    </div>

    <div *ngFor="let item of uploader.queue" class="preview" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <div *ngIf="['image/png','image/jpeg'].indexOf(item._file.type)>=0">
        <div class="preview--icon" [ngfBackground]="item._file"></div>
      </div>

      <div fxLayout="column" fxFlex fxLayoutAlign="space-between" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
          <span>{{item?.file?.name }}</span>
          <span>{{item._file?.size | megabytes}}</span>
          <button type="button" [disabled]="item.isUploading || item.isSuccess || !uploadForm.valid" class="btn btn-primary" (click)="uploadItem(item)">
            <i class="fa fa-upload"></i> Start
          </button>
          <button type="button" class="btn btn-danger" (click)="removeItem(item)" [disabled]="!uploadForm.valid">
            <i class="fa fa-times"></i>Fjern
          </button>
        </div>
        <div class="progress">
          <div [ngStyle]="{ 'width': item.progress + '%' }" class="progress--bar"></div>
        </div>
      </div>
    </div>
  </div>

</div>