<!-- Search info and suggested -->
<section class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
  <div class="search" class="p-t-1" fxFlexFill fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
    <input
      #photoSearchBox
      class="photo-search-input"
      id="photo-search-input" type="text"
      [(ngModel)]="searchInput"
      (keyup.enter)="search(photoSearchBox.value)"
      />
      <button type="button" (click)="toggleAdvanced()" class="btn btn-text small">Avansert søk</button>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" *ngIf="isAdvanced" [@slideDown]="isAdvanced" fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="15px">
      <div class="search-input-group" fxLayout="column">
        <label>Tittel</label>
        <input type="text" formControlName="motive">
      </div>
      <div class="search-input-group" fxLayout="column">
        <label>Tagger</label>
        <input type="text" formControlName="tags">
      </div>
      <div class="search-input-group" fxLayout="column">
        <label>Sortering</label>
        <select formControlName="sort">
          <!-- <option [ngValue]="media.id" *ngFor="let media of mediums">{{media.name}}</option> -->
        </select>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">
      <div class="search-input-group" fxLayout="column" fxFlex="<grow>">
        <label>Media</label>
        <select formControlName="media">
        <option [ngValue]="media.id" *ngFor="let media of mediums">{{media.name}}</option>
        </select>
      </div>
      <div class="search-input-group" fxLayout="column" fxFlex="<grow>">
        <label>Kategori</label>
        <select formControlName="category">
        <option [ngValue]="category.id" *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </div>
      <div class="search-input-group" fxLayout="column" fxFlex="<grow>">
        <label>Sted</label>
        <select formControlName="place">
        <option [ngValue]="place.id" *ngFor="let place of places">{{place.name}}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Søk</button>
  </form>
</section>
<div fxFlexFill fxLayout="column" fxLayoutAlign="center">
  <hr>
  <h4 class="p-l-2" *ngIf="!photos?.length && searching">Ingen treff</h4>
  <fg-photo-masonry [photos]="photos"></fg-photo-masonry>
</div>
