.photo-search-input {
  padding: 0em 0em 0em 1.5em;
  border-radius: 3rem;
  font-size: 1.3em;
  margin: 0.2rem;
  height: 3rem;
  width: 50%;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
}

.search {
  position: relative;
  font-size: 18px;
  padding-top: 40px;
  margin: -20px auto 0;
}


.search-input-group {

  & label {
    font-size: small;
  }

  & input, select {
    height: 2rem;
  }
}
