<div id="main container">
      <div class="inner p-b-2" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="start" fxLayoutGap="5px">
        <!-- Tabs -->
        <a class="tab" routerLink="album" routerLinkActive="active" fxFlex="<basis>">Album</a>
        <a class="tab" routerLink="kategori" routerLinkActive="active" fxFlex="<basis>">Kategori</a>
        <a class="tab" routerLink="medium" routerLinkActive="active" fxFlex="<basis>">Medium</a>
        <a class="tab" routerLink="sted" routerLinkActive="active" fxFlex="<basis>">Sted</a>
        <a class="tab" routerLink="statistikk" routerLinkActive="active" fxFlex="<basis>">Statistikk</a>
      </div>
      <div class="inner">
        <router-outlet></router-outlet>
      </div>
  </div>

  <!-- add wrapper1 for unclean look -->
  