<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="flex flex-3">
      <div class="col">
        <h3>Vestibullum</h3>
        <ul class="alt">
          <li><a href="#">Nascetur nunc varius commodo.</a></li>
          <li><a href="#">Vis id faucibus montes tempor</a></li>
          <li><a href="#">Massa amet lobortis vel.</a></li>
          <li><a href="#">Nascetur nunc varius commodo.</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Lobortis</h3>
        <ul class="alt">
          <li><a href="#">Nascetur nunc varius commodo.</a></li>
          <li><a href="#">Vis id faucibus montes tempor</a></li>
          <li><a href="#">Massa amet lobortis vel.</a></li>
          <li><a href="#">Nascetur nunc varius commodo.</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Accumsan</h3>
        <ul class="alt">
          <li><a href="#">Nascetur nunc varius commodo.</a></li>
          <li><a href="#">Vis id faucibus montes tempor</a></li>
          <li><a href="#">Massa amet lobortis vel.</a></li>
          <li><a href="#">Nascetur nunc varius commodo.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
    </ul>
  </div>
</footer>
