<div id="main container">
  <section class="wrapper style1">
    <div class="inner">
      <header class="align-left">
        <h3>Kreditering</h3>
        <p>
          Alle bilder tatt av Fotogjengen skal krediteres med:
        </p>  
          <pre><code>Foto: foto.samfundet.no</code></pre>
        <p>
          Ved manglende kreditering kan det bli krevet kompensasjon. For spørsmål rundt bruk av våre bilder og kreditering, ta kontakt med oss på e-post.          
        </p>
      </header>
    </div>
  </section>
</div>