<!-- Main -->
<div id="main">
  <section class="wrapper style1">
    <div class="inner">
      <!-- EVERYTHING IN HERE  -->

      <h4>Kontakt</h4>
      <div class="table-wrapper">
        <table>
          <tbody>
            <tr>
              <td>Generelle henvendelser</td>
              <td>fg@samfundet.no</td>
            </tr>
            <tr>
              <td>Henvendelser relatert til kjøp og bruk av bilder</td>
              <td>fg-salg@samfundet.no</td>
            </tr>
            <tr>
              <td>Henvendelser relatert til arkivet</td>
              <td>fg-arkiv@samfundet.no</td>
            </tr>
            <tr>
              <td>Tekniske henvendelser relatert til nettsiden</td>
              <td>fg-web@samfundet.no</td>
            </tr>
            <tr>
              <td>Henvendelser til gjengsjef</td>
              <td>fg-sjef@samfundet.no</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr class="major" />

    <!-- EVERYTHING ABOVE HERE  -->

  </section>
</div>
