@import '../../../styles/breakpoints.scss';

:host {
  width: 100%;
  display: block;
  left: 0;
}

.grid-item, .grid-item-2 {
  margin: 15px;
}

.grid-item {
  width: 300px;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.grid {
  margin: 0 auto;
}

.clickable {
  outline: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.clickable:hover {
  outline: 2px solid white;
  transition: 0.7s all;
}
