<div id="main container">
  <section class="wrapper style1">
    <div class="inner p-b-2" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="start" fxLayoutGap="5px">
      <!-- Tabs -->
      <a class="tab" routerLink="opplasting" routerLinkActive="active" fxFlex="<basis>">Digital</a>
      <a class="tab" routerLink="todo" routerLinkActive="active" fxFlex="<basis>">Analog</a>
      <a class="tab" routerLink="todo" routerLinkActive="active" fxFlex="<basis>">Arkivadmin</a>
      <a class="tab" routerLink="todo" routerLinkActive="active" fxFlex="<basis>">Power</a>
      <a class="tab" routerLink="todo" routerLinkActive="active" fxFlex="<basis>">Fotogjengere</a>
    </div>
    <div class="inner">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
