@import '../../../styles/_colors.scss';

.active {
  outline: white;
}

.tab {
  color: #BABABA;
  padding: 1em;
  font-size: 1em;
  background-color: $interactive_dark;
}

.tab:hover {
  color: white;
}
