<div id="main container">
    <section class="wrapper style1">
        <div class="inner">
            <h2>Ønsker du å søke?</h2>
            <h4>Om Fotogjengen</h4>
            <p>
                <em>Hva er Fotogjengen?</em>
            </p>
            <blockquote>
                <p>Fotogjengen er en gjeng på Samfundet som drives på frivillig basis av ni funksjonærer og to webutviklere.
                    Oppgaven til Fotogjengen er å fotodokumentere alt som skjer på Samfundet, for eksempel konserter, møter,
                    miljøbilder og eksterne oppdrag. Gjengen har forholdsvis stor frihet til å legge opp arbeid og aktiviteter
                    innenfor rammene lagt av Samfundets Finansstyre.</p>
            </blockquote>
            <p>
                <em>Hvordan er Fotogjengen organisert?</em>
            </p>
            <blockquote>
                <p>Per dags dato består Fotogjengen av ni funksjonærer(fotografer) og to gjengiser (webutviklere). Fotogjengen
                    har en flat struktur der alle er likestilt. Hver fotograf har hvert sitt ansvarsområde som blir omfordelt
                    hvert nye kalenderår. Det første halve året består av generell opplæring.</p>
                <p>Vervene i Fotogjengen er for øyeblikket: Gjengsjef, koordineringssjef, hybelsjef, økonomisjef, arkivsjef,
                    miljøbildesjef, eksponeringssjef, fotosjef og teknisk sjef. I tillegg består gjengen av flere pangsjonister,
                    dvs. fotogjengere som er ferdige med bindingstiden sin, men fortsatt er med. Gjengens medlemmer blir
                    automatisk tatt opp som fotografer i studentfestivalene UKA og ISFiT.</p>
            </blockquote>
            <p>
                <em>Hva gjør Fotogjengen?</em>
            </p>
            <blockquote>
                <p>Fotogjengen tar bilder av alt som skjer på Samfundet, inklusive under UKA og ISFiT. I tillegg skal bildene
                    bli vist frem gjennom utstillinger, oppslag og på internett. Dette gjør vi for å vise det frem til alle
                    studenter hva som skjer på Samfundet. For å kompensere for Samfundets kostnader til drift og vedlikehold
                    selger vi også konsertbilder, gjengfoto, klassebilder og portrettbilder i tillegg til å holde fotokurs.</p>
            </blockquote>
            <p>
                <em>Hva gjør man når man er med i Fotogjengen?</em>
            </p>
            <blockquote>
                <p>En typisk arbeidsuke begynner med et "Torsdagsmøte" mandag sju til ni. Man informerer hverandre om hva som
                    skjer på Samfundet, diskuterer nye saker og planlegger hva som skal gjøres i løpet av uka. Etter møtet
                    spiser vi kveldsmat sammen.</p>
                <p>Hver uke jobber man fire timer en gang i uka på selvvalgt dag (kl. 1800-2200 tirsdag-fredag). Arbeidsoppgavene
                    på "jobbekvelden" er varierte: arrangementer skal fotograferes og arkiveres, bestilte bilder skal produseres,
                    en utstilling skal henges opp, PR-bilder må tas, og så videre. I tillegg må man sette av tid til å jobbe
                    med sitt ansvarsområde i løpet av uka. Du velger helt selv når dette skal være.</p>
                <p>Mellom to til fire helger i semesteret har man, sammen med en annen, ansvaret for å ta bilder av konserter
                    og andre arrangement i helgene. Søndagen brukes da på å fremkalle film, redigere bilder, arkivere, lage
                    opp bilder i mørkerommet som henges opp på Stripa på Gløshaugen og Gata på Dragvoll. Gjennom et helt
                    semester gir dette et snitt på 20 arbeidstimer i uken.</p>
            </blockquote>
            <h4>Om hvorfor du bør bli med</h4>
            <p>
                <em>Hva får man igjen for å være med i Fotogjengen?</em>
            </p>
            <blockquote>
                <p>I tillegg til å treffe en knakande god gjeng og ha ekstremt mye moro, får man virkelig brukt seg i spennede,
                    givende og utfordrende arbeidsoppgaver. Man får masse ansvar og arbeidsrelevant erfaring innenfor samarbeid
                    og ledelse, og får være med på å forme Fotogjengen og Samfundet. Rent formelt får man også gjennom funksjonærstillingen
                    gratis adgang til arrangementene på Samfundet (ikke under UKA og ISFiT) og Samfundet som sosial arena.</p>
            </blockquote>
            <p>
                <em>Hvorfor bør jeg foretrekke Fotogjengen fremfor alle de andre gjengene?</em>
            </p>
            <blockquote>
                <p>Arbeidet i Fotogjengen er veldig allsidig og gjengen er godt sammensveiset. Av gjengene på Samfundet er Fotogjengen
                    blant dem med størst frihet til å forme og forbedre arbeidshverdagen. Gjennom fotoarbeidet kommer du
                    innom blant annet kunst, salg, PR og dokumentering. Gjengen er også liten nok til at man kommer tett
                    innpå hverandre og blir gode venner.</p>
                <p>Likevel er nok mentaliteten, ansvaret og arbeidsgleden den samme hos funksjonærer i de fleste gjengene på
                    Huset. Du kan ha det kjempemoro i veldig mange flere gjenger enn Fotogjengen!</p>
            </blockquote>
            <p>
                <em>Jeg har lyst til å bli fotograf. Er det lurt å bli med i Fotogjengen først da?</em>
            </p>
            <blockquote>
                <p>Fordi så mye av arbeidstiden i Fotogjengen går med til annet enn å fotografere er det neppe den mest tidseffektive
                    måten å bli god i det fototekniske. Erfaringene er likevel neppe ubrukelige, spesielt med tanke på at
                    det man lærer av organisasjonsliv og hektisk arbeid definitivt er verdt å ta med seg til enhver jobb.</p>
            </blockquote>
            <h4>Om dem vi tar opp</h4>
            <p>
                <em>Hva er det dere ser etter hos søkere?</em>
            </p>
            <blockquote>
                <p>Vi har lyst til å få med folk som er pålitelige, lett lar seg engasjere og som ønsker være en del av en knakende
                    god gjeng i studietiden sin. Vi er i mye større grad en vennegjeng enn en arbeidsplass og har lyst til
                    at gjengen vår skal være så givende og moro som mulig å være med i. Et sterkt ønske om å dele og utvikle
                    egen fotokompetanse er også nødvendig (vi bryr oss mindre om utgangspunktet ditt).</p>
            </blockquote>
            <p>
                <em>Er det noen absolutte krav til søkerne?</em>
            </p>
            <blockquote>
                <p>Du må være student ved en av Trondheims studieinstitusjoner, være/bli medlem av Studentersamfundet i Trondhjem
                    og forplikte deg til å være aktiv i to og et halvt år, i snitt 20 timer i uka.</p>
            </blockquote>
            <p>
                <em>Er ikke 20 timer i uka dritmye?</em>
            </p>
            <blockquote>
                <p>Det er naturlig å bekymre seg for å plutselig skulle vie så mye tid til noe, og vi kan love at alle i fotogjengen
                    har stilt seg det samme spørsmålet før de begynte. Kort svar: Jo, egentlig. Lengre svar: Det er dritmye
                    tid fyllt av mye forskjellig - mye læring, ansvar, slit, moro, samarbeid, konflikt, engasjement og vennskap.
                    Poenget er at det absolutt er verdt det.</p>
            </blockquote>
            <p>
                <em>Men alt arbeidet kommer jo til å gå ut over tiden jeg bruker på studiene/jobben/kjæresten/hobbyen/vennene
                    mine</em>
            </p>
            <blockquote>
                <p>Som en tommelfingerregel sier vi at det går an å få plass til fire - men ikke fem - av de følgende aktivitetene
                    samtidig: 1) Studier 2) Kjæreste 3) Venner 4) Samfundet og 5) Jobb. Det kan eksempelvis bli vanskelig
                    ha en jobb i tillegg, om det ikke skal gå ut over tiden du bruker på de andre prioriteringene.</p>
            </blockquote>
            <p>
                <em>Er ikke 2,5 år bindingstid veldig lenge?</em>
            </p>
            <blockquote>
                <p>Alle som blir med i Fotogjengen bekymrer seg for det, og alle er like overrasket over hvor fort 2,5 år går
                    når man morer seg. Årsaken til bindingstidene er at vi er en liten gjeng som trenger stabilitet og kontinuitet
                    for å overføre kunnskap og erfaringer.</p>
                <p>Fordi de fleste Fotogjengere er med videre etter bindingstiden er det gjerne best å bli med når man er første-
                    eller andreårsstudent. Hvis du har mindre enn 2,5 år igjen i Trondheim er du dessverre uaktuell som søker
                    til stillingen som funksjonær. Du kan for eksempel bli med i en gjeng med kortere bindingstid eller søke
                    som UKEfunk i Fotogjengen om det er UKEår.</p>
            </blockquote>
            <p>
                <em>Må man være god til å ta bilder for å bli tatt opp?</em>
            </p>
            <blockquote>
                <p>Nei, men man må ha lyst til å bli det. Det hender vi tar opp nye uten at de har noe som helst erfaring innen
                    foto. Det teller selvfølgelig positivt med fotokompetanse, men det er langt i fra det eneste vi ser etter.</p>
            </blockquote>
            <p>
                <em>Må man ha noe utstyr for å bli med i Fotogjengen?</em>
            </p>
            <blockquote>
                <p>Nei. Fotogjengen har utstyret som trengs.</p>
            </blockquote>
            <h4>Om opptaket</h4>
            <p>
                <em>Hvordan er søknadsprosessen?</em>
            </p>
            <blockquote>
                <p>Om du har lyst til å bli med i Fotogjengen må du søke gjennom samfundets søknadssider. Vi har opptak hver
                    høst og søknadsfristen pleier å være i slutten av august. Du vil så bli kontaktet og innkalt til intervju,
                    der vil noen av oss prøve å bli kjent med deg gjennom en del spørsmål, og det blir også mulighet for
                    å spørre oss om det du lurer på. Dem vi tror kan passe best vil bli innkalt til et ekstraintervju med
                    hele gjengen, vanligvis samme kveld. Noen dager senere får alle svar, enten om man får tilbud om å bli
                    med eller ikke.</p>
                <p>Vi anbefaler deg å komme på Samfundets omvisning i slutten av august og slå av en prat der. Du kan også kontakte
                    oss på e-post om noe ikke er forklart godt nok i dette dokumentet.</p>
            </blockquote>
            <p>
                <em>Hvordan bør jeg forberede meg?</em>
            </p>
            <blockquote>
                <p>Tenk litt over din egen motivasjon for å bli med. Reflektér over hvorfor du vil bli med og hva du eventuelt
                    kan tilføre (kan være alt fra skills i matlaging, blogging og regnskapsføring til programmering eller
                    musikk).</p>
                <p>Selv om vi vil gjøre så godt vi kan for å legge til rette for et godt intervju, er din egen jobb å få frem
                    det beste av deg selv under intervjuet. Finn for eksempel konkrete eksempler og historier fra livet ditt
                    som gjør at vi skjønner hvorfor du er den beste søkeren.</p>
                <p>Møt opp på omvisningen på Samfundet (sjekk samfundet.no for å finne ut når det er) og slå av en avslappet
                    prat med en av oss der. Eller stikk innom en hverdagskveld og spør om det du lurer på.</p>
            </blockquote>
            <p>
                <em>Hvor mange pleier å søke?</em>
            </p>
            <blockquote>
                <p>Antall søkere er hemmelig, selv for dem som blir tatt opp. Hvert år har vi imidlertid lyst til å ta opp flere
                    søkere enn vi har mulighet til.</p>
            </blockquote>
            <p>
                <em>Har det noe å si om jeg søker flere gjenger enn Fotogjengen?</em>
            </p>
            <blockquote>
                <p>I seg selv teller det verken i positiv eller negativ retning. Motivasjonen din for å søke eller ikke søke
                    andre gjenger er derimot viktig for oss. Imidlertid er det definitivt lurt å søke flere steder om det
                    er flere enn Fotogjengen som virker spennende ettersom vi hvert år må si nei til mange gode søkere.</p>
            </blockquote>
            <p>
                <em>Jeg er kjempenervøs. Har dere noen tips?</em>
            </p>
            <blockquote>
                <p>Et intervju er mindre skremmende om du har hilst på en av oss før. Møt derfor opp på Samfundets omvisning
                    og slå av en avslappet prat med en av oss. Eller ring gjengsjef, kontaktinfo her: https://www.samfundet.no/kontakt
                    en jobbekveld og spør om det du lurer på.</p>
                <p>Forbered deg. Hvis du er godt forberedt er det gjerne enklere å slappe av. Du har dessuten et stort fortrinn
                    overfor de andre søkerne, nå som du har lest nesten hele dette dokumentet. Vi har nemlig laget denne
                    lesetesten: hvis noen spør deg er svaret at på 16. mai, ja da spiser man reker.</p>
                <p>Fordi alle i Fotogjengen har vært gjennom den samme prosessen, har vi full forståelse for at man kan bli
                    stressa. Vårt mål er derfor å få deg til å slappe av under selve intervjuet slik at du får gitt oss et
                    godt bilde av hvem du egentlig er.</p>
                <p>Vi vil vite mye mer om deg enn bare hvor interessert og flink du er til å fotografere. Du vil derfor gjøre
                    det bedre om du ikke tenker på dette som et intervju til en vanlig jobb som fotograf.</p>
            </blockquote>
            <p>
                <em>Shit. Jeg ble ikke tatt opp.</em>
            </p>
            <blockquote>
                <p>Husk at du ikke trenger være med i Fotogjengen for å fotografere! Hvis du ønsker å pleie fotointeressen din
                    foreslår vi at du kontakter Studentenes Kameraklubb (sk-styret[a]stud.ntnu.no) eller deltar på Fotogjengens
                    nybegynnerkurs som avholdes et par ganger i semesteret.</p>
                <p>Det er ingen skam å søke flere ganger om du fortsatt skulle være gira. Det viser at du virkelig er interessert
                    i å være med i Fotogjengen. Det er også gjenger på Samfundet som har opptak etter jul.</p>
            </blockquote>
            <h4>Lykke til med søknaden - vi gleder oss til å treffe deg! :)</h4>
        </div>
    </section>
</div>